// C O L O R S
$lightBlue: #009bdb;
$darkBlue: #0064b0;
$Blue: #1a4c96;
$black: #232323;
$darkBlack: #131313;
$gray: #a8a8a8;
$lightGray: #acacac;
$darkGray: #4b4b4b;

*{
  // padding: 0;
  // margin: 0;
}


// FONT - SIZE
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-20: 20px;
$font-40: 40px;
$font-50: 50px;
$font-2em: 2em;
$font-3em: 3em;
